<div class="main-container">
  <button type="button" class="btn btn-secondary" (click)="previousState()">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
  </button>
  <div class="main-dashboard">
    <h1>Thông tin giám sát sản xuất</h1>
    <div class="btn-actions">
      <button type="button" class="btn btn-success" (click)="btnStart()">Start</button>
      <button type="button" class="btn btn-warning" (click)="btnPause()">Pause</button>
      <button type="button" class="btn btn-primary" (click)="btnFinish()">Finish</button>
      <button type="button" class="btn btn-secondary">Export</button>
      <button type="button" class="btn btn-info" (click)="openPopupChiTietThongTinScan()">View Detail Data</button>
      <div class="div-input">
        <input
          id="scanCheck"
          [(ngModel)]="scanValue"
          (keyup.enter)="onScan()"
          placeholder="Scan here"
          autofocus
          disabled="{{ ['Waiting', 'Pause', 'Finish'].includes(dataWorkOrder[0].trangThai) }}"
        />
      </div>
    </div>
  </div>
  <div class="product-info">
    <table class="table-info">
      <thead>
        <tr>
          <th>WorkOrder</th>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Số lô</th>

          <th>Trạng thái</th>
          <th>Thời gian chạy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataWorkOrder">
          <td>{{ element.workOrder }}</td>
          <td>{{ element.productCode }}</td>
          <td>{{ element.productName }}</td>
          <td>{{ element.lot }}</td>

          <td>{{ element.trangThai }}</td>
          <td>{{ elapsedTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-1">
    <div class="check-summary">
      <div>
        <table class="table-check">
          <thead>
            <tr>
              <th>Sản lượng kế hoạch</th>
              <th>Tổng kiểm tra</th>
              <th>Tỉ lệ hoàn thành</th>
            </tr>
          </thead>
          <tbody>
            <td>{{ dataWorkOrder[0].sanLuong }}</td>
            <td>{{ totalScans }}</td>
            <td>{{ rateCompleted }}%</td>
          </tbody>
        </table>
      </div>
      <div class="group-pie">
        <div style="display: block" class="group-canvas">
          <canvas
            baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [plugins]="pieChartPlugins"
            [labels]="pieChartLabels"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="group-station-user container-1">
    <div class="inspection-stations">
      <div class="group-input">
        <H3>Tổng hợp dữ liệu kiểm tra</H3>
      </div>

      <table class="table-inspection">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên trạm</th>
            <th>Thông tin kiểm tra</th>
            <th>Tổng lượt Scan</th>
            <th>Tổng Pass</th>
            <th>Tổng NG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 1 }}</td>
            <td>{{ stationName }}</td>
            <td>{{ checkName }}</td>
            <td>{{ totalScans }}</td>
            <td>{{ totalPass }}</td>
            <td>{{ totalFail }}</td>
          </tr>
        </tbody>
      </table>
      <div class="paginate">
        <div class="paginate-container">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="itemsPerPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>

          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="user-access">
      <H3>Thông tin người truy cập</H3>
      <table class="table-user">
        <thead>
          <tr>
            <th>Tên người dùng</th>
            <th>Thời gian đăng nhập</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataUser | paginate: { itemsPerPage: itemPerPage, currentPage: page }">
            <td>{{ element.username }}</td>
            <td>{{ element.timeLogin }}</td>
          </tr>
        </tbody>
      </table>
      <div class="paginate" *ngIf="dataUser && dataUser.length > 0">
        <div class="paginate-container">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="itemsPerPage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option>
          </select>

          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup chi tiết thông tin scan -->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupChiTietThongTinScan === true">
  <div>
    <span class="close-btn" (click)="closePopupChiTietThongTinScan()">&times;</span>
    <div>
      <div class="popup-chi-tiet-scan">
        <h2>Chi tiết thông tin scan</h2>
        <div class="table-container">
          <div class="table-header">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col">WorkOder</th>
                  <th scope="col">Lot</th>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Nhóm máy</th>
                  <th scope="col">Version</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Kế hoạch</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <tr *ngFor="let element of dataWorkOrder">
                  <td>{{ element.workOrder }}</td>
                  <td>{{ element.lot }}</td>
                  <td>{{ element.productCode }}</td>
                  <td>{{ element.productName }}</td>
                  <td>{{ element.groupName }}</td>
                  <td></td>

                  <td>{{ element.trangThai }}</td>
                  <td>{{ element.sanLuong }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-body">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col"><span>Mã máy</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col">
                    <span>Vị trí</span>
                    <input #searchInput type="text" [(ngModel)]="position" [ngModelOptions]="{ standalone: true }" placeholder="Tìm kiếm" />
                  </th>
                  <th scope="col"><span>Giá trị</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col">
                    <span>Thông tin check</span><input type="text" style="width: 1px; border: none; background-color: #309acf" />
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-footer">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col"><span>STT</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col">
                    <span>Mã máy</span>
                    <input
                      #searchInput
                      type="text"
                      [(ngModel)]="machineId"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Tìm kiếm"
                    />
                  </th>
                  <th scope="col"><span>Serial</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col">
                    <span>Thông tin check</span>
                    <input
                      #searchInput
                      type="text"
                      [(ngModel)]="checkValue"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Tìm kiếm"
                    />
                  </th>
                  <th scope="col"><span>Giá trị</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col"><span>Vị trí</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                  <th scope="col"><span>Result</span><input type="text" style="width: 1px; border: none; background-color: #309acf" /></th>
                </tr>
              </thead>
            </table>
            <div class="paginate">
              <div class="paginate-container">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="itemsPerPage">
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                </select>

                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="closePopupChiTietThongTinScan()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary" (click)="openPopupConfirmSave()">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive popup-background popup-save-info" role="dialog" *ngIf="popupConfirmSave === true">
  <div class="form-popup-alert">
    <p>Bạn có chắc chắn muốn lưu thông tin này không?</p>
    <div class="btn-group-save">
      <button class="confirm-btn" (click)="closePopupConfirmSave()">Xác nhận</button>
      <button class="cancel-btn" (click)="closePopupConfirmSave()">Hủy</button>
    </div>
  </div>
</div>
